{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">À propos de nous !</h1>
        <p class="lead">Découvrez notre histoire</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}
