{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Page contact.</h1>
        <p class="lead">Vous répondons sous 24h</p>
        {% include '_partials/flash.html.twig' %}
        <hr class="my-4">

        <form action="{{ path('contact') }}" method="POST">

            <div class="form-group">
                <label for="email">Votre email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="form-group mt-4">
                <label for="message">Votre message</label>
                <textarea class="form-control" id="message" rows="5" name="message"></textarea>
            </div>

            <div class="text-right mt-3">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>

        </form>
    </div>
    
{% endblock %}
