{% extends "base.html.twig" %}

{% block title %}Ex. Twig Noms{% endblock %}

{% block body %}
    <a href="{{ path('exercice_twig') }}" class="btn btn-sm btn-primary">Page Exercice Twig</a>
    blabla
{% endblock %}
