{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 mx-auto">

            <div class="jumbotron">
                <a href="{{ path('blog_new', { slug: article.slug }) }}" class="float-right">Modifier --></a>
                <a href="{{ path('blog_list') }}"><-- Retour au blog</a>
                <h1 class="display-4">{{ article.title }}</h1>
                <hr class="my-4">
            </div>

            <div>
                {{ article.text|nl2br }}
            </div>

        </div>
    </div>

{% endblock %}
