{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Mon blog</h1>
        <p class="lead">Je vous parle de ma vie</p>
        <hr class="my-4">
    </div>

    <div class="row">
        {% for article in articles %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.text|nl2br }}</p>
                        <a href="{{ path('blog_single', { slug: article.slug }) }}" class="btn btn-primary">Lire</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
