{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 mx-auto">

            <div class="jumbotron">
                <a href="{{ path('blog_list') }}"><-- Retour au blog</a>
                <h1 class="display-4">Mon article</h1>
                <p class="lead">Titre de l'article</p>
                <hr class="my-4">
            </div>

            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fuga incidunt inventore sunt tempora? Assumenda ea eaque esse fuga, id ipsam iure, laudantium, molestiae molestias omnis quae rerum sed voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fuga incidunt inventore sunt tempora? Assumenda ea eaque esse fuga, id ipsam iure, laudantium, molestiae molestias omnis quae rerum sed voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fuga incidunt inventore sunt tempora? Assumenda ea eaque esse fuga, id ipsam iure, laudantium, molestiae molestias omnis quae rerum sed voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fuga incidunt inventore sunt tempora? Assumenda ea eaque esse fuga, id ipsam iure, laudantium, molestiae molestias omnis quae rerum sed voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fuga incidunt inventore sunt tempora? Assumenda ea eaque esse fuga, id ipsam iure, laudantium, molestiae molestias omnis quae rerum sed voluptatem.</p>
            </div>

        </div>
    </div>

{% endblock %}
