{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Nouvel Article</h1>
        <p class="lead">Créez un article</p>
        <hr class="my-4">
    </div>

    {# FORM #}

{% endblock %}
