{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Mon blog</h1>
        <p class="lead">Je vous parle de ma vie</p>
        <hr class="my-4">
    </div>

    <div class="row">
        {% for article in 1..12 %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Article {{ loop.index }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ path('blog_single') }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
