<div>
    {# logo centré #}
    <div style="text-align: center;">LOGO CENTRÉ</div>

    {% block body %}{% endblock %}

    <div style="margin-top: 30px;">
        Cordialement, <br>
        L'équipe {{ PROJECT_NAME }}
    </div>

</div>