{% extends "emails/base.email.twig" %}

{% block body %}
    <div>
        <span style="color: blue;">Bonjour Victor,</span>
        <br><br>
        Vous avez reçu un message de : <b>{{ contact.email }}</b>
        <br><br>
        <u>Message :</u> <br><br>
        {{ contact.message|nl2br }}
    </div>
{% endblock %}
