Bonjour {{ user.firstname }}, <br><br>
Merci pour votre inscription, Veuillez confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
<a href="{{ absolute_url(path('register_confirm_email', { email: user.email, token: user.token })) }}">CONFIRMER MON EMAIL</a>